@media all {

	.ym-hlist {
	/* (en) containing floats in IE */
		/* (de) Einfassen der Floats im IE */
		width:100%;
	overflow:hidden;
	/* (en|de) Bugfix:IE - collapsing horizontal margins */
		position:relative;
	line-height:1em;
	background: #111;
	}

	.ym-hlist ul {
	margin:0;
	padding: 0.3em 0.5em 0.3em 1.5em;
	/* (en|de) Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
	float:left; /* LTR */
	}

	.ym-hlist ul li {
		/* (en|de) Bugfix:IE - Doubled Float Margin Bug */
		display:inline;
		float:left; /* LTR */
		font-size:1.0em;
		line-height:1em;
		list-style-type:none;
		margin: 0 .25em 0 0;
		padding:0;
	}

	.ym-hlist ul li a,
	.ym-hlist ul li strong {
	background:transparent;
	color:#CCC;
	display:block;
	font-size:1em;
	line-height: 2em;
	padding: 0 0.5em;
	font-weight:300;
	text-decoration:none;
	/* [disabled]text-shadow: 0 1px 1px rgba(0,0,0,.5); */
	width:auto;
	}

	.ym-hlist ul li a:focus,
	.ym-hlist ul li a:hover	{
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	text-decoration:none;
	outline: 0 none;
	color: #E8E8E8;
	background: #444;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	}
	.ym-hlist ul li a:active  {
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	text-decoration:none;
	outline: 0 none;
	color: #E8E8E8;
	background: #444;
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,.4);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.4) inset;
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.4) inset;
	box-shadow: 0px 1px 1px rgba(0,0,0,.4) inset;
	}

	.ym-hlist ul li.active {
	background:#666;
	background: #000000;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	color: #fff;
	}

	.ym-hlist ul li.active strong,
	.ym-hlist ul li.active a,
	.ym-hlist ul li.active a:visited,
	.ym-hlist ul li.active a:focus,
	.ym-hlist ul li.active a:hover,
	.ym-hlist ul li.active a:active {
		background:transparent;
		color:#FEFEFC;
		text-decoration:none;
	}
